{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Résultats de la recherche
{% endblock metatitle %}

{% block main %}
	<section class="container">
		<h2>Résultat de la recherche pour
			{{ search }}</h2>
		<div class="catalog-list">
			{% for product in productsFound %}
				<a href="{{ path('show-product', {'id': product.id}) }}">
					<article class="category {{ product.category.color }}">
						<h3>{{ product.title }}</h3>
						<p>{{ product.description }}</p>
						<p>Categorie : {{ product.category.title }}</p>
					</article>
				</a>
			{% endfor %}
		</div>

	</section>
{% endblock main %}
