{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	{{ product.title }}
{% endblock metatitle %}

{% block main %}
	<main>
		<section class="container">
			<h2>{{ product.title }}</h2>
			<div>
				{# Donne une classe par la donnée 'color' donné aux catégories dans la bdd #}
				<article class="category {{ product.category.color }}">
					<h3>{{ product.title }}</h3>
					<p>
						<b>{{ product.description }}</b>
					</p>
					{% if product.image is not null %}
						<div class="product-img">
							<img src="{{ asset('uploads/' ~ product.image) }}" alt="image de {{ product.title }}">
						</div>
					{% endif %}
					<p>{{ product.price }}€</p>
					<span>Publié le
						{{ product.createdAt | date('d/m/Y') }}</span>
					{% if product.updatedAt %}
						<span>{{ product.updatedAt | date('d/m/Y') }}</span>
					{% endif %}
				</article>
			</div>
		</section>
	</main>
{% endblock main %}
