{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	{{ category.title }}
{% endblock metatitle %}

{% block main %}
	<main>
		<section class="detail-wrapper container">
			<h2>{{ category.title }}</h2>
			<div>
				{# Donne une classe par la donnée 'color' donné aux catégories dans la bdd #}
				<article class="category {{ category.color}}">
					<h3>{{ category.title }}</h3>
					<p>
						<b>{{ category.description }}</b>
					</p>
					<span>Publié le
						{{ category.createdAt | date('d/m/Y') }}</span>
					{% if category.updatedAt %}
						<span>{{ category.updatedAt | date('d/m/Y') }}</span>
					{% endif %}
				</article>
			</div>
		</section>
	</main>
{% endblock main %}
