<header class="admin-header">
	<nav>
		<ul>
			<li><a href="{{ path('home-admin') }}">Accueil</a></li>
            <li><a href="{{ path('category-list') }}">Catégories</a></li>
            <li><a href="{{ path('admin-product-list') }}">Produits</a></li>
			<li><a href="{{ path('admin-create-product') }}">Créer un produit</a></li>
			<li><a href="{{ path('admin-create-user') }}">Créer un compte administrateur</a></li>
			<li><a href="{{ path('admin-list-admin') }}">Liste des admins</a></li>
			<li><a href="{{ path('logout') }}">Se déconnecter</a></li>
		</ul>
	</nav>

	{% if app.user %}
        <p class="user-info">Connecté en tant que {{ app.user.email }}</p>
    {% endif %}

</header>
 